@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@font-face {
  font-family: 'Bryant';
  src: url('/fonts/bryant/bryantBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vars we reference in tailwind classes */
:root {
  @screen lg {
  }
}

/* canvas {
  @apply absolute top-0 left-0 w-full h-full;
} */

body {
  @apply no-scrollbar select-none;

  height: 100vh;
  max-height: 100vh;
}
